/* Меню */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  min-height: 1500px;
  width: 200px;
  min-width: 200px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.menu > li {
  position: relative;
}

.overmenu {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.overmenu:hover {
  background-color: #444;
}

.li_text p {
  margin: 0;
  padding-left: 10px;
}

.toggle-submenu {
  transition: transform 0.3s ease;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #555;
  position: relative;
}

.submenu li {
  padding: 10px;
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #666;
}

.submenu a {
  color: white;
  text-decoration: none;
}

.menu > li.open .submenu {
  display: block;
}

.menu > li.open .toggle-submenu {
  transform: rotate(90deg);
}


/* ////////////////////////// */

.App {
  font-family: Arial, sans-serif;
}

.App.ctrl-pressed .submenu a,
.App.ctrl-pressed .submenu li,
.App.ctrl-pressed {
  cursor: copy;
}

.notifications {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.notification {
  background-color: #44c767;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  right: 20px;
  transition: opacity 1s ease-in-out;
}

.notification-disappearing {
  opacity: 0;
  transform: translateY(20px); 
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 40px;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

.page_with_footer {
  display: flex;
  flex-direction: row;
}

.article-area {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.footer {
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  text-align: center;
}

.articles-area {
  display: flex;
  flex-direction: column;
}

.article-block {
  margin-bottom: 20px;
  display: flex;
  margin: 30px;
}

.article-header {
  font-size: 32px;
  font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
}

.article-content h1 {
  margin: 0;
}

.article-content {
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.caption {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.article-picture {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-height: 400px;
}

.article-picture img{
  max-width: 300px;
  max-height: 300px;
}

.article-gallery {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article {
  max-width: 1340px;
  margin-left: 10px;
}

/* ////////////////////// Гостевая книга */

.guest-book-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
}

.guest-book-icon {
  width: 111px;
  height: 110px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.guest-book-icon:hover {
  transform: scale(0.9); 
}


.guest-book {
  width: 300px;
  height: 500px;
  background: LightSteelBlue;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.guest-book-header {
  background: LightCyan;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.guest-book-header h2 {
  margin: 0;
}

.guest-book-close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.guest-book-messages {
  height: 270px;
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.guest-book-message-block {
  margin-bottom: 10px;
  max-height: 100px;
  overflow-x: auto;
}

.guest-book-message-name {
  font-weight: bold;
  max-width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.guest-book-message-text {
  max-width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin-left: 10px;
}

.guest-book-user-container {
  padding: 10px;
  border-top: 1px solid #eee;
}

.guest-book-user-container input,
.guest-book-user-container textarea {
  margin-bottom: 10px;
  padding: 5px;
}

.userName {
  width: 200px;
}

.userText {
  max-width: 240px;
  max-height: 64px;
}

.guest-book-user-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.guest-book-user-container button:hover {
  background-color: #0056b3;
}
